<!DOCTYPE html5>
<html lang="en">

<head>
   <title>
      Majesty online shopping
   </title>
   <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
   <link rel="stylesheet" href="homepage1.css">
   <link rel="stylesheet" href="new1.css">
   <script src="login.html"></script>
   <script src='fontawesome-free-5.13.0-web/js/all.js'></script>
   <link rel="stylesheet" href="fontawesome-free-5.13.0-web/css/all.css">

<meta name="viewport" content="width=device-width, initial-scale=1.0">

   <script>
      function snackBar() {
         var x = document.getElementById("snackbar");
         x.className = "show";
         setTimeout(function() {
            x.className = x.className.replace("show", "");
         }, 3000);
      }



 
   </script>



</head>


<body ng-app="">
   <div>




      <!-- header -->
    
      
      <!--<div id="main">-->
      <div id="mySidenav" class="sidenav">
         <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>


         <div class="topnav">
            <a href="#home" class="icon" onclick="myFunction()"><i style='font-size:15px; color: yellow;' class='fas fa-mobile-alt'></i>Computer</a>
            <div id="myLinks">
               <a href="#news">News</a>
               <a href="#contact">Contact</a>
               <a href="#about">About</a>
            </div>

         </div>

         <div id="snackbar">Added successfuly..</div>

         <div class="topnav1">
            <a href="#home" class="icon1" onclick="myFunction1()"><i style='font-size:15px; color: yellow;' class='fas fa-mobile-alt'></i> Mobile Phones</a>
            <div id="myLinks1">
               <a href="#news">News</a>
               <a href="#contact">Contact</a>
               <a href="#about">About</a>
            </div>

         </div>

         <a href="#">

            <i style='font-size:15px; color: yellow;' class='fab fa-artstation'></i> Appliances


         </a>
         <a href="#">

            <i style='font-size:15px; color: yellow;' class='fas fa-bolt'></i> Electronics

         </a>
         <a href="#">

            <i style='font-size:15px; color: yellow;' class='fas fa-tshirt'></i> Fassion

         </a>
      </div>


       
      
         
    {{}}     

        




<div class="subdiv01">
<div class="subdiv03">MAJESTY </div>

<div class="subdiv1">
            <!-- <form action="home.php"> -->
          <a href="font/phone1.jpg" download>  <img src="font/phone1.jpg" width="144" height="140"></a><br>
            <font size="3" color="black" face="calibri">Itel-1658</font><br>
            <font size="1" color="black" face="candara"><b>GH&#8373;14700.60</b></font><br>
            <button id="B1" onclick="snackBar()" ng-click="item1={name1: 'iphone6', price1:1400.60, counter:1, id: 'ADGF01W', quantity: 1 }">ADD TO CART</button>
            <!-- <button id="B2" ng-click="clickCounter = clickCounter - 1">-</button> -->
            <!-- </form> -->
         </div>

         <div class="subdiv2">
            <img src="font/jeans.jpg" width="144" height="140"><br>
            <font size="3" color="black" face="calibri"><b>Itel-1658</b></font><br>
            <font size="1" color="black" face="candara">GH&#8373;676.00</font><br>
            <!-- <font size="1" color="red"><u></u></font><br><br> -->
            <button id="B1" onclick="snackBar()" ng-click="item2={name2: 'itel1658', price2:676, counter:1, id: 'ADGF02W', quantity:1}">ADD TO CART</button>
            <!-- <button id="B2" ng-click="clickCounter = clickCounter - 1">-</button> -->

         </div>
         <div class="subdiv9">
            <img src="font/phone2.jpg" width="144" height="140"><br>
            <font size="3" color="black" face="calibri"><b>Itel-1658</b></font><br>
            <font size="1" color="black" face="candara">GH&#8373;956.00</font><br>
            <!-- <font size="1" color="red"><u></u></font><br><br> -->
            <button id="B1" onclick="snackBar()" ng-click="item9={name9: 'itel66', price9:48, counter: 1, id: 'ADGF09W', quantity:1}">ADD TO CART</button>
            <!-- <button id="B2" ng-click="clickCounter = clickCounter - 1">-</button> -->
         </div>

<div class="subdiv9">
            <img src="font/phone2.jpg" width="144" height="140"><br>
            <font size="3" color="black" face="calibri"><b>Itel-1658</b></font><br>
            <font size="1" color="black" face="candara">GH&#8373;956.00</font><br>
            <!-- <font size="1" color="red"><u></u></font><br><br> -->
            <button id="B1" onclick="snackBar()" ng-click="item9={name9: 'itel66', price9:48, counter: 1, id: 'ADGF09W', quantity:1}">ADD TO CART</button>
            <!-- <button id="B2" ng-click="clickCounter = clickCounter - 1">-</button> -->
         </div>

         <div class="subdiv9">
            <img src="font/phone2.jpg" width="144" height="140"><br>
            <font size="3" color="black" face="calibri"><b>Itel-1658</b></font><br>
            <font size="1" color="black" face="candara">GH&#8373;956.00</font><br>
            <!-- <font size="1" color="red"><u></u></font><br><br> -->
            <button id="B1" onclick="snackBar()" ng-click="item9={name9: 'itel66', price9:48, counter: 1, id: 'ADGF09W', quantity:1}">ADD TO CART</button>
            <!-- <button id="B2" ng-click="clickCounter = clickCounter - 1">-</button> -->
         </div>

         <div class="subdiv3">
            <img src="font/laptop1.jpg" width="144" height="140"><br>
            <font size="3" color="black" face="calibri"><b>Itel-1658</b></font><br>
            <font size="1" color="black" face="candara">GH&#8373;6567.00</font><br>
            <!-- <font size="1" color="red"><u></u></font><br><br> -->
            <button id="B1" onclick="snackBar()" ng-click="item3={name3: 'macbook', price3:6567, counter:1, id: 'ADGF03W', quantity:1}"> ADD TO CART</button> <!-- <button id="B2" ng-click="clickCounter = clickCounter - 1">-</button> -->
         </div>



         
         <div class="subdiv4">
            <img src="font/shoe1.jpg" width="144" height="140"><br>
            <font size="3" color="black" face="calibri"><b>Itel-1658</b></font><br>
            <font size="1" color="black" face="candara">GH&#8373;23.00</font><br>
            <!-- <font size="1" color="red"><u></u></font><br><br> -->
            <button id="B1" onclick="snackBar()" ng-click="item4={name4: 'shoe', price4:23, counter:1, id: 'ADGF04W', quantity:1}">ADD TO CART</button>
            <!-- <button id="B2" ng-click="clickCounter = clickCounter - 1">-</button> -->
         </div>
         <div class="subdiv5">
            <img src="font/top1.jpg" width="144" height="140"><br>
            <font size="3" color="black" face="calibri"><b>Itel-1658</b></font><br>
            <font size="1" color="black" face="candara">GH&#8373;49.00</font><br>
            <!-- <font size="1" color="red"><u></u></font><br><br> -->
            <button id="B1" onclick="snackBar()" ng-click="item5={name5: 'T-shirt', price5:49, counter:1, id: 'ADGF05W', quantity:1}">ADD TO CART</button>
            <!-- <button id="B2" ng-click="clickCounter = clickCounter - 1">-</button> -->
         </div>
            
         </div>

         


<div class="subdiv01">

<div class="subdiv03">MAJESTY </div>

           <div class="subdiv6">
            <img src="font/shoe2.jpg" width="144" height="140"><br>
            <font size="3" color="black" face="calibri"><b>Itel-1658</b></font><br>
            <font size="1" color="black" face="candara">GH&#8373;905.00</font><br>
            <!-- <font size="1" color="red"><u></u></font><br><br> -->
            <button id="B1" onclick="snackBar()" onclick="snackBar()" ng-click="item6={name6: 'shoe', price6:995, counter:1, id: 'ADGF06W', quantity:1}">ADD TO CART</button>
            <!-- <button id="B2" ng-click="clickCounter = clickCounter - 1">-</button> -->
         </div>
<div class="subdiv9">
            <img src="font/phone2.jpg" width="144" height="140"><br>
            <font size="3" color="black" face="calibri"><b>Itel-1658</b></font><br>
            <font size="1" color="black" face="candara">GH&#8373;956.00</font><br>
            <!-- <font size="1" color="red"><u></u></font><br><br> -->
            <button id="B1" onclick="snackBar()" ng-click="item9={name9: 'itel66', price9:48, counter: 1, id: 'ADGF09W', quantity:1}">ADD TO CART</button>
            <!-- <button id="B2" ng-click="clickCounter = clickCounter - 1">-</button> -->
         </div>

         <div class="subdiv7">
            <img src="font/covers.jpg" width="144" height="140"><br>
            <font size="3" color="black" face="calibri"><b>Itel-1658</b></font><br>
            <font size="1" color="black" face="candara">GH&#8373;900.00</font><br>
            <!-- <font size="1" color="red"><u></u></font><br><br> -->
            <button id="B1" onclick="snackBar()" ng-click="item7={name7: 'cover', price7:68, counter: 1, id: 'ADGF07W', quantity:1}">ADD TO CART</button>
            <!-- <button id="B2" ng-click="clickCounter = clickCounter - 1">-</button> -->
         </div>
         <div class="subdiv8">
            <img src="font/laptop2.jpg" width="144" height="140"><br>
            <font size="3" color="black" face="calibri"><b>Itel-1658</b></font><br>
            <font size="1" color="black" face="candara">GH&#8373;55.00</font><br>
            <!-- <font size="1" color="red"><u></u></font><br><br> -->
            <button id="B1" onclick="snackBar()" ng-click="item8={name8: 'itel423', price8:55, counter:1, id: 'ADGF08W', quantity:1}">ADD TO CART</button>
            <!-- <button id="B2" ng-click="clickCounter = clickCounter - 1">-</button> -->
         </div>
         <div class="subdiv9">
            <img src="font/phone2.jpg" width="144" height="140"><br>
            <font size="3" color="black" face="calibri"><b>Itel-1658</b></font><br>
            <font size="1" color="black" face="candara">GH&#8373;956.00</font><br>
            <!-- <font size="1" color="red"><u></u></font><br><br> -->
            <button id="B1" onclick="snackBar()" ng-click="item9={name9: 'itel66', price9:48, counter: 1, id: 'ADGF09W', quantity:1}">ADD TO CART</button>
            <!-- <button id="B2" ng-click="clickCounter = clickCounter - 1">-</button> -->
         </div>
         <div class="subdiv10">
            <img src="font/top2.jpg" width="144" height="140"><br>
            <font size="3" color="black" face="calibri"><b>Itel-1658</b></font><br>
            <font size="1" color="black" face="candara">GH&#8373;900.00</font><br>
            <!-- <font size="1" color="red"><u></u></font><br><br> -->
            <button id="B1" onclick="snackBar()" ng-click="item10={name10: 'nokia', price10:71, counter: 1, id: 'ADGF10W', quantity:1}">ADD TO CART</button>
            <!-- <button id="B2" ng-click="clickCounter = clickCounter - 1">-</button> -->
         </div>

         <div class="subdiv1">
            <!-- <form action="home.php"> -->
          <a href="font/phone1.jpg" download>  <img src="font/phone1.jpg" width="144" height="140"></a><br>
            <font size="3" color="black" face="calibri"><b>Itel-1658</b></font><br>
            <font size="1" color="black" face="candara">GH&#8373;14700.60</font><br>
            <button id="B1" onclick="snackBar()" ng-click="item1={name1: 'iphone6', price1:1400.60, counter:1, id: 'ADGF01W', quantity: 1 }">ADD TO CART</button>
            <!-- <button id="B2" ng-click="clickCounter = clickCounter - 1">-</button> -->
            <!-- </form> -->
         </div>


         <div class="subdiv1">
            <!-- <form action="home.php"> -->
          <a href="font/phone1.jpg" download>  <img src="font/phone1.jpg" width="144" height="140"></a><br>
            <font size="3" color="black" face="calibri"><b>Itel-1658</b></font><br>
            <font size="1" color="black" face="candara">GH&#8373;14700.60</font><br>
            <button id="B1" onclick="snackBar()" ng-click="item1={name1: 'iphone6', price1:1400.60, counter:1, id: 'ADGF01W', quantity: 1 }">ADD TO CART</button>
            <!-- <button id="B2" ng-click="clickCounter = clickCounter - 1">-</button> -->
            <!-- </form> -->
         </div>


         
         </div>



         <div class="subdiv01">

<div class="subdiv03">MAJESTY </div>

          <div class="subdiv11">
            <img src="font/calcus.jpg" width="144" height="140"><br>
            <font size="3" color="black" face="calibri"><b>Itel-1658</b></font><br>
            <font size="1" color="black" face="candara">GH&#8373;900.00</font><br>
            <!-- <font size="1" color="red"><u></u></font><br><br> -->
            <button id="B1" onclick="snackBar()" ng-click="item11={name11: 'itel1132', price11:96, counter:1, id: 'ADGF11W', quantity:1}">ADD TO CART</button>
            <!-- <button id="B2" ng-click="clickCounter = clickCounter - 1">-</button> -->
         </div>
         <div class="subdiv12">
            <img src="font/shoe3.jpg" width="144" height="140"><br>
            <font size="3" color="black" face="calibri"><b>Itel-1658</b></font><br>
            <font size="1" color="black" face="candara">GH&#8373;900.00</font><br>
            <!-- <font size="1" color="red"><u></u></font><br><br> -->
            <button id="B1" onclick="snackBar()" ng-click="item12={name12: 'itel9932', price12:56, counter:1, id: 'ADGF12W', quantity:1}">ADD TO CART</button>
            <!-- <button id="B2" ng-click="clickCounter = clickCounter - 1">-</button> -->
         </div>
         <div class="subdiv10">
            <img src="font/top2.jpg" width="144" height="140"><br>
            <font size="3" color="black" face="calibri"><b>Itel-1658</b></font><br>
            <font size="1" color="black" face="candara">GH&#8373;900.00</font><br>
            <!-- <font size="1" color="red"><u></u></font><br><br> -->
            <button id="B1" onclick="snackBar()" ng-click="item13={name13: 'tecno', price13:12, counter:1, id: 'ADGF13W', quantity:1}">ADD TO CART</button>
            <!-- <button id="B2" ng-click="clickCounter = clickCounter - 1">-</button> -->
         </div>
         <div class="subdiv9">
            <img src="font/phone2.jpg" width="144" height="140"><br>
            <font size="3" color="black" face="calibri"><b>Itel-1658</b></font><br>
            <font size="1" color="black" face="candara">GH&#8373;956.00</font><br>
            <!-- <font size="1" color="red"><u></u></font><br><br> -->
            <button id="B1" onclick="snackBar()" ng-click="item9={name9: 'itel66', price9:48, counter: 1, id: 'ADGF09W', quantity:1}">ADD TO CART</button>
            <!-- <button id="B2" ng-click="clickCounter = clickCounter - 1">-</button> -->
         </div>
         <div class="subdiv10">
            <img src="font/top2.jpg" width="144" height="140"><br>
            <font size="3" color="black" face="calibri"><b>Itel-1658</b></font><br>
            <font size="1" color="black" face="candara">GH&#8373;900.00</font><br>
            <!-- <font size="1" color="red"><u></u></font><br><br> -->
            <button id="B1" onclick="snackBar()" ng-click="item14={name14: 'itel24', price14:43, counter:1, id: 'ADGF14W', quantity:1}">ADD TO CART</button>
            <!-- <button id="B2" ng-click="clickCounter = clickCounter - 1">-</button> -->
         </div>
         <div class="subdiv10">
            <img src="font/top2.jpg" width="144" height="140"><br>
            <font size="3" color="black" face="calibri"><b>Itel-1658</b></font><br>
            <font size="1" color="black" face="candara">GH&#8373;900.00</font><br>
            <!-- <font size="1" color="red"><u></u></font><br><br> -->
            <button id="B1" onclick="snackBar()" ng-click="item15={name15: 'itel33', price15:68, counter:1, id: 'ADGF15W', quantity:1}">ADD TO CART</button>
            <!-- <button id="B2" ng-click="clickCounter = clickCounter - 1">-</button> -->
         </div>


         <div class="subdiv1">
            <!-- <form action="home.php"> -->
          <a href="font/phone1.jpg" download>  <img src="font/phone1.jpg" width="144" height="140"></a><br>
            <font size="3" color="black" face="calibri"><b>Itel-1658</b></font><br>
            <font size="1" color="black" face="candara">GH&#8373;14700.60</font><br>
            <button id="B1" onclick="snackBar()" ng-click="item1={name1: 'iphone6', price1:1400.60, counter:1, id: 'ADGF01W', quantity: 1 }">ADD TO CART</button>
            <!-- <button id="B2" ng-click="clickCounter = clickCounter - 1">-</button> -->
            <!-- </form> -->
         </div>


         <div class="subdiv1">
            <!-- <form action="home.php"> -->
          <a href="font/phone1.jpg" download>  <img src="font/phone1.jpg" width="144" height="140"></a><br>
            <font size="3" color="black" face="calibri"><b>Itel-1658</b></font><br>
            <font size="1" color="black" face="candara">GH&#8373;14700.60</font><br>
            <button id="B1" onclick="snackBar()" ng-click="item1={name1: 'iphone6', price1:1400.60, counter:1, id: 'ADGF01W', quantity: 1 }">ADD TO CART</button>
            <!-- <button id="B2" ng-click="clickCounter = clickCounter - 1">-</button> -->
            <!-- </form> -->
         </div>
         </div>



         
         
         
   
      
      <br>
      





      <form action="cart.php" method="post">

         <input id="itm" type="text" name="name1" value="{{item1.name1}}">
         <input id="itm" type="text" name="price1" value="{{item1.price1*item1.quantity}}">
         <input id="itm" type="text" name="id1" value="{{item1.id}}">
         <input id="itm" type="text" name="quantity1" value="{{item1.quantity}}">
         <input id="itm" type="text" name="name2" value="{{item2.name2}}">
         <input id="itm" type="text" name="price2" value="{{item2.price2*item2.quantity}}">
         <input id="itm" type="text" name="id2" value="{{item2.id}}">
         <input id="itm" type="text" name="quantity2" value="{{item2.quantity}}">
         <input id="itm" type="text" name="name3" value="{{item3.name3}}">
         <input id="itm" type="text" name="price3" value="{{item3.price3*item3.quantity}}">
         <input id="itm" type="text" name="id3" value="{{item3.id}}">
         <input id="itm" type="text" name="quantity3" value="{{item3.quantity}}">
         <input id="itm" type="text" name="name4" value="{{item4.name4}}">
         <input id="itm" type="text" name="price4" value="{{item4.price4*item4.quantity}}">
         <input id="itm" type="text" name="id4" value="{{item4.id}}">
         <input id="itm" type="text" name="quantity4" value="{{item4.quantity}}">
         <input id="itm" type="text" name="name5" value="{{item5.name5}}">
         <input id="itm" type="text" name="price5" value="{{item5.price5*item5.quantity}}">
         <input id="itm" type="text" name="id5" value="{{item5.id}}">
         <input id="itm" type="text" name="quantity5" value="{{item5.quantity}}">
         <input id="itm" type="text" name="name6" value="{{item6.name6}}">
         <input id="itm" type="text" name="price6" value="{{item6.price6*item6.quantity}}">
         <input id="itm" type="text" name="id6" value="{{item6.id}}">
         <input id="itm" type="text" name="quantity6" value="{{item6.quantity}}">
         <input id="itm" type="text" name="name7" value="{{item7.name7}}">
         <input id="itm" type="text" name="price7" value="{{item7.price7*item7.quantity}}">
         <input id="itm" type="text" name="id7" value="{{item7.id}}">
         <input id="itm" type="text" name="quantity7" value="{{item7.quantity}}">
         <input id="itm" type="text" name="name8" value="{{item8.name8}}">
         <input id="itm" type="text" name="price8" value="{{item8.price8*item8.quantity}}">
         <input id="itm" type="text" name="id8" value="{{item8.id}}">
         <input id="itm" type="text" name="quantity8" value="{{item8.quantity}}">
         <input id="itm" type="text" name="name9" value="{{item9.name9}}">
         <input id="itm" type="text" name="price9" value="{{item9.price9*item9.quantity}}">
         <input id="itm" type="text" name="id9" value="{{item9.id}}">
         <input id="itm" type="text" name="quantity9" value="{{item9.quantity}}">
         <input id="itm" type="text" name="name10" value="{{item10.name10}}">
         <input id="itm" type="text" name="price10" value="{{item10.price10*item10.quantity}}">
         <input id="itm" type="text" name="id10" value="{{item10.id}}">
         <input id="itm" type="text" name="quantity10" value="{{item10.quantity}}">
         <input id="itm" type="text" name="name11" value="{{item11.name11}}">
         <input id="itm" type="text" name="price11" value="{{item11.price11*item11.quantity}}">
         <input id="itm" type="text" name="id11" value="{{item11.id}}">
         <input id="itm" type="text" name="quantity11" value="{{item11.quantity}}">
         <input id="itm" type="text" name="name12" value="{{item12.name12}}">
         <input id="itm" type="text" name="price12" value="{{item12.price12*item12.quantity}}">
         <input id="itm" type="text" name="id12" value="{{item12.id}}">
         <input id="itm" type="text" name="quantity12" value="{{item12.quantity}}">
         <input id="itm" type="text" name="name13" value="{{item13.name13}}">
         <input id="itm" type="text" name="price13" value="{{item13.price13*item13.quantity}}">
         <input id="itm" type="text" name="id13" value="{{item13.id}}">
         <input id="itm" type="text" name="quantity13" value="{{item13.quantity}}">
         <input id="itm" type="text" name="name14" value="{{item14.name14}}">
         <input id="itm" type="text" name="price14" value="{{item14.price14*item14.quantity}}">
         <input id="itm" type="text" name="id14" value="{{item14.id}}">
         <input id="itm" type="text" name="quantity14" value="{{item14.quantity}}">
         <input id="itm" type="text" name="name15" value="{{item15.name15}}">
         <input id="itm" type="text" name="price15" value="{{item15.price15*item15.quantity}}">
         <input id="itm" type="text" name="id15" value="{{item15.id}}">
         <input id="itm" type="text" name="quantity15" value="{{item15.quantity}}">
         <input id="itm" type="text" name="counter" value="">


            <input id="itm" type="text" name="" value="{{}}">
         <input id="itm" type="text" name="name" value="{{item.name}}">
         <input id="itm" type="text" name="" value="{{}}">
         <input id="itm" type="text" name="name" value="{{item.name}}">
         <input id="itm" type="text" name="" value="{{}}">
         <input id="itm" type="text" name="name" value="{{item.name}}">
         <input id="itm" type="text" name="" value="{{}}">
         <input id="itm" type="text" name="name" value="{{item.name}}">
         <button id="viewCart" type="submit" name="submit">
            <div class="cart"><i style='font-size:20px; color: rgb(255, 184, 30);' class='fas fa-shopping-cart'></i><sup></sup></div>
         </button>




      </form>

   </div>
   <br>
   <ul class="pagination">
      <li><a href="#">
            <<</a> </li> <li><a class="active" href="#">1</a></li>
      <li><a href="#">2</a></li>
      <li><a href="#">3 ...</a></li>
      <li><a href="#">>></a></>


   </ul>
   </div>

<button class="chat"><i style='font-size:24px; color: white' class='fab'>&#xf3e8;</i></button>

<script>
var slideIndex = 0;
showSlides();

function showSlides() {
  var i;
  var slides = document.getElementsByClassName("mySlides");
  var dots = document.getElementsByClassName("dot");
  for (i = 0; i < slides.length; i++) {
    slides[i].style.display = "none";
  }
  slideIndex++;
  if (slideIndex > slides.length) {slideIndex = 1}
  for (i = 0; i < dots.length; i++) {
    dots[i].className = dots[i].className.replace(" active", "");
  }
  slides[slideIndex-1].style.display = "block";
  dots[slideIndex-1].className += " active";
  setTimeout(showSlides, 3000); // Change image every 2 seconds
}
</script>


</body>














</html>